  

@{
    Layout = "_Layout";
}

@model NonProfitTracker.Models.NonProfit

<h2>Non Profit Details</h2>
<hr />
<h3>@Html.ActionLink($"{ Model.Name }", "Index", "BoardMembers")</h3>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Delete Non Profit", "Delete", new { id = Model.Id })</p>